@model UserProfileViewModel

@{
    ViewData["Title"] = "Your Profile";
}

<div class="profile-page mt-0">
    
    <div id="dominant-color" class="container summary-container p-4 d-flex flex-row gap-3">
        <div class="profile-image-container">
            <img src="@Model.Image" class="get-dominant-color" crossorigin="anonymous" />
        </div>
        <div class="profile-description d-flex flex-column justify-content-center">
            <p class="translucent-text m-0">Profile</p>
            <p class="display-name mb-1">@Model.DisplayName</p>
            <p class="m-0">
                <span class="translucent-text">@(Model.Followers.Total + 2) Public Playlists</span>
                <i class="bi bi-dot"></i>
                @Model.Followers.Total Followers
            </p>
        </div>
    </div>

    <partial name="_TopArtists.cshtml" model="Model.TopArtists" />

    <partial name="_TopTracks.cshtml" model="Model.TopTracks" />

    <partial name="_PublicPlaylists.cshtml" model="Model.PublicPlaylists" />

</div>