@model TopArtistsViewModel

@{
    int maxTopArtists = 6;
}

<div class="container top-artists-container mt-3 p-4 d-flex flex-column">
    <h5 class="m-0 section-header">Top artists this month</h5>
    <p class="m-0 translucent-text">Only visible to you</p>

    <div class="top-artist-cards mt-3 row">
        @for (int i = 0; i < maxTopArtists; i++)
        {
            if (i < Model.Items.Count)
            {
                ArtistViewModel artist = Model.Items[i];

                <div class="top-artist-card col p-3">
                    <div class="artist-image-container w-100">
                        <img src="@artist.Image" class="w-100 h-100" />
                    </div>

                    <div class="artist-text-container">
                        <h6 class="mt-3 mb-0">@artist.Name</h6>
                        <p class="translucent-text mb-0">@artist.Type</p>
                    </div>
                </div>
            }
            else
            {
                <div class="top-artist-card col p-2">
                </div>
            }
        }
    </div>
</div>