@model SpotifyAPI.Web.Paging<SpotifyAPI.Web.FullPlaylist>

@{
    ViewData["Title"] = "Playlists";
}

<h1>Playlists</h1>

<hr />

<h2>Your Spotify Playlists</h2>

<ul>
    @if (Model.Items != null && Model.Items.Any())
    {
        @foreach (var playlist in Model.Items)
        {
            <li>
                <strong>@playlist.Name</strong> - Tracks: @playlist.Tracks!.Total
            </li>
        }
    }
</ul>