.summary-container {
    border-top-left-radius: 20px;
    border-top-right-radius: 20px;
}

.summary-container .display-name {
    font-weight: 800;
    font-size: clamp(1.5rem, 5vw, 3rem);
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    max-width: 100%;
}


.profile-image-container {
    width: 200px;
}

.profile-image-container img {
    width: 100%;
    border-radius: 50%;
    box-shadow: 0px 0px 2rem rgba(0, 0, 0, 0.6);
}

.translucent-text {
    opacity: 0.7;
}

.fade-to-black {
    background: linear-gradient(var(--secondary), var(--black));
}

.section-header {
    font-weight: 700;
}

.section-container .section-image-container {
    aspect-ratio: 1 / 1;
    overflow: hidden;
}

.section-image-container img {
    object-fit: cover;
    object-position: center;
}

.artist-image-container img {
    border-radius: 50%;
}

.top-artists-container .top-artist-card {
    border-radius: 20px;
    cursor: pointer;
}

.top-artists-container .top-artist-card:hover
{
    filter: brightness(1.2);
    background-color: var(--gray);
}

.track-image-container {
    height: 3rem;
}

.track-image-container img {
    border-radius: 5px;
}

.top-tracks-table tbody tr {
    background-color: var(--black);
    cursor: pointer;
}

.top-tracks-table tbody tr:hover {
    background-color: var(--gray);
    opacity: 1;
    filter: brightness(1.2);
}

.playlist-image-container {
    object-fit: cover;
    object-position: center;
}

.playlist-image-container img {
    border-radius: 10px;
}

.cards-layout-container .responsive-card {
    cursor: pointer;
    border-radius: 10px;
}

.cards-layout-container .responsive-card:hover {
    filter: brightness(1.2);
    background-color: var(--gray);
}

tbody tr:hover .translucent-text {
    opacity: 1 !important;
}