:root {
    --white: #FFFFFF;
    --primary: #1ED760;
    --secondary: #A40F0F;
    --black: #121212;
    --gray: #252525;
    --light-gray: #303030;
}

html {
  font-size: 14px;
}

@media (min-width: 768px) {
  html {
    font-size: 16px;
  }
}

.btn:focus, .btn:active:focus, .btn-link.nav-link:focus, .form-control:focus, .form-check-input:focus {
  box-shadow: 0 0 0 0.1rem white, 0 0 0 0.25rem #258cfb;
}

html {
  position: relative;
  min-height: 100%;
}

body {
  margin-bottom: 60px;
  font-family: "Montserrat", Arial, Helvetica, sans-serif;
  background-color: var(--black);
  color: var(--white);
}

#main-page {
    background-color: var(--black);
}

.navbar-brand-image {
    height: 2rem;
    border-radius: 50px;
    filter: brightness(1.4);
}

.table td {
    background-color: transparent;
    color: var(--white);
    border: none;
}

a {
    text-decoration: none;
    color: var(--white);
}

a:hover {
    color: var(--white);
}

.page-link:hover {
    color: var(--white);
    text-decoration: underline;
}